

<h2> Pod 2 </h2>
  <p><% @persons.each do |perp| %>
  	<div class="thumb_page_divs"><img class="profile_thumb" src="<%= perp.picture_url %>">
    <%= link_to perp.full_name, user_path(perp.id) %></div></br>
  <% end %></p>
